body{
    background-color: rgb(16, 32, 64);
}
#content{
    color: rgb(240, 224, 192);
    display: table;
    padding: auto;
    margin: auto;
    max-width: 90%;
}

a{
    color: lightblue;
}

li{
    margin-top: 11px;
    margin-bottom: 11px;
}
